/* --------------------PRICING-------------------------------- */
.listPricing {
  list-style-image: url(https://i.postimg.cc/BvvgF7Br/checked.png);
  li {
    margin-bottom: 0.5rem;
  }
}

.bancos {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.bancosImagenes {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.banksOptions h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.textBanks {
  margin: 2rem 4rem;
  text-align: justify;
}

.bancosImagenes {
  font-size: 3.5rem;
}

.money {
  width: 96%;
  max-width: 30rem;
  margin: 0 auto;
}

#money__image {
  width: 100%;
  height: auto;
}
